@use "../utilities" as u;
.infogroup {
    // margin not working
    margin: 20px auto;

    .info-logo {
        color: u.$heading-color;
        text-align: center;
        margin-bottom: 20px;
    }

    button {
        margin-top: 20px;
    }
}

.birthday-form-group {
    display: flex;
    gap: 1rem;

    .form-group label {
        color: u.$input-color;
        font-size: 0.8em;
    }
}

label {
    display: block;
}

.form-heading {
    font-family: u.$heading-font-family;
    font-size: 2.4rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: u.$color-white;
    margin-top: 6rem;
}

.form-heading + p {
    margin-top: 0;
}

fieldset {
    padding: 0;
    border: 0;
}

legend {
    padding: 0;
}

.form-container {
    padding: 0 1.5rem;
    max-width: 900px;
    margin: 0 auto;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#form-slide_seventh .form-container {
    flex-direction: column;
}

#form-slide_fourth .side-by-side,
#form-slide_fifth .side-by-side,
#form-slide_sixth .side-by-side,
#form-slide_seventh .side-by-side {
    justify-content: start;
}

#form-slide_seventh .form-container {
    max-width: 413px;
    justify-content: flex-start;

    .form-select-group {
        max-width: 100%;
    }
    #country {
        max-width: 100%;
    }
}

.optiongroup > label {
    margin-bottom: 1em;
}

.side-by-side {
    padding-bottom: 6rem;
}

@media (min-width: 1200px) {
    .side-by-side {
        padding-bottom: 0;
    }

    #form-slide_seventh .form-container {
        justify-content: center;
    }
}

#create-account {
    position: relative;
    max-height: 100vh;
    overflow-y: hidden;

    &::before {
        transform: rotate(180deg);
        content: url("icons/pill.svg");
        display: block;
        position: absolute;
        top: -129.5px;
        right: 0;
    }

    &::after {
        content: url("icons/pill.svg");
        display: block;
        position: absolute;
        bottom: -129.5px;
        left: 0;
    }
}
