* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow-x: hidden;
}

.form_slide {
    display: flex;
    flex-direction: row;

    overflow-x: hidden;

    scroll-behavior: smooth;
}

.form_slide_section {
    display: flex;
    flex: 0 0 auto;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.side-by-side {
    top: 50%;
    left: 50%;
}
