* {
  margin: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.form_slide {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    scroll-behavior: smooth;
    align-items: flex-start;
}

.form_slide_section {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 2rem;
}
