* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

nav {
  height: 10vh;
}

.form_slide {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 2rem 0;
  align-items: flex-start;
}

.form_slide_section {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 90vh;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
}
