@use "../utilities" as *;

.form-field {
  background-color: $input-background-color;
  border: $input-border $input-border-color;
  border-radius: $input-border-radius;
  padding: 0.75rem;
  color: $input-color;
  font-size: 1rem;
  font-family: $text-font-family;
  transition: border 0.25s ease-in-out;
  margin-bottom: 0.4rem;
  flex-grow: 1;

  &:hover {
    border-color: $input-focus-color;
  }

  &:focus {
    border-color: $input-focus-color;
    outline: 0.25rem transparent;
    box-shadow: 0 0 0 0.25rem $input-outline-color;

    &:valid {
      outline: 0.25rem transparent;
      box-shadow: 0 0 0 0.25rem rgba(130, 175, 130, 0.25);
    }
  }

  &:valid,
  &:valid ~ .form-icon svg {
    stroke: $accent;
    border-color: $accent;
  }

  &:invalid:not(:placeholder-shown, :focus) ~ .error {
    max-height: 2rem;
  }

  &:invalid:not(:placeholder-shown, :focus) ~ .form-icon svg {
    stroke: #b94a37;

    animation: shake 0.25s forwards;
  }

  &:invalid:not(:placeholder-shown, :focus) {
    color: #b94a37;
    border-color: #b94a37;

    animation: shake 0.25s forwards;
  }
}

.form-label {
  color: $color-white;
  margin-bottom: 0.4rem;
  display: block;
}

.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0.4rem;

  > .form-field {
    padding-right: 2.5rem;

    &:focus ~ .form-icon > svg {
      stroke: $input-focus-color;
    }
    &:valid ~ .form-icon svg {
      stroke: $accent;
    }
  }

  > .form-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    top: 0;
    right: 0;

    > svg {
      stroke: $input-color;
    }
  }
}

.error {
  display: block;
  color: #b94a37;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s max-height;
}

@keyframes shake {
  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-3px);
  }
}
