@use "../utilities" as *;

nav {
  position: relative;
}

#scrollProgressBarEmpty {
  $scrollBarWidth: 60vw;

  position: fixed;
  top: 3%;
  left: calc(50vw - (#{$scrollBarWidth} / 2));
  //   background-color: green;
  height: 20px;
  width: $scrollBarWidth;
  display: flex;
  flex-direction: row;
  align-items: center;

  .scrollBar {
    background-color: #c4c4c4;
    opacity: 0.3;
  }
  .progressPoint {
    background-color: #c4c4c4;
    opacity: 0.3;
  }
}

#scrollProgressBar {
  $scrollBarWidth: 60vw;

  position: fixed;
  top: 3%;
  left: calc(50vw - (#{$scrollBarWidth} / 2));
  //   background-color: green;
  height: 20px;
  width: $scrollBarWidth;
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none;
}

.scrollBar {
  background-color: $primary-color;
  width: 8.57%;
  height: 12%;
}

.progressPoint {
  background-color: $primary-color;
  border-radius: 50%;
  width: 5%;
  padding-bottom: 5%;
}

#scrollProgressBar .scrollBar {
  background-color: $color-form-primary;
  width: 0%;
  height: 12%;
}

#scrollProgressBar .progressPoint {
  background-color: $color-form-primary;
  border-radius: 50%;
  width: 5%;
  padding-bottom: 5%;
  opacity: 0;
}

#scrollProgressBar .progressPoint:first-child {
  background-color: $color-form-primary;
  opacity: 1;
}


@media (min-width: 800px) {
  #scrollProgressBarEmpty {
    width: 40vw;
    left: calc(50vw - (40vw / 2));
  }
  #scrollProgressBar {
    width: 40vw;
    left: calc(50vw - (40vw / 2));
  }
}

@media (min-width: 1000px) {
  #scrollProgressBarEmpty {
    width: 30vw;
    left: calc(50vw - (30vw / 2));
  }
  #scrollProgressBar {
    width: 30vw;
    left: calc(50vw - (30vw / 2));
  }
}

@media (min-width: 1200px) {
  #scrollProgressBarEmpty {
    width: 20vw;
    left: calc(50vw - (20vw / 2));
  }
  #scrollProgressBar {
    width: 20vw;
    left: calc(50vw - (20vw / 2));
  }
}
